// -------------colors ------------//
$pink:  #ebc9d0;
$gray:  #d7d9d9;
$black: #000000;
$white: #ffffff;

// Primary color
$primary:$pink;

// Secondary color
$secondary:$gray;

// Dark color
$dark: $black;