* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  @include wh;
  font-family: $font-base;
  overflow: hidden;
}

// Reset properties
a {
  text-decoration: none;
}
input[type="checkbox"] {
  display: none;
}
input[type="radio"] {
  display: none;
}

input {
  outline: 0;
}
label,
button {
  cursor: pointer;
}

#main-wrapper {
  @include wh;

  overflow: auto;
}
