* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  @extend %wh-100;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
a {
  text-decoration: none;
}
input[type="checkbox"] {
  display: none;
}
input[type="radio"] {
  display: none;
}


input {
  outline: 0;
}
label,
button {
  cursor: pointer;
}
