// ----------- Variables ----------//
$font-base: 'Open Sans', sans-serif;

// Top navbar height
$nav-height: 60px;
// ----------- Maps ----------//
$breakpoints: (
  "xl": 1200px,
  "lg": 1024px,
  "md": 768px,
  "sm": 576px,
  "xs": 320px
);
