.btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 400;

  border-radius: 5px;
}
.btn-primary {
  color: $white;
  background-color: darken($primary, 5%);
}
